*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login-container{
    position: relative;
    overflow: hidden;
}
.login-container::before{
    content: '';
    position: absolute;
    /* width: 100%;
    height: 100%; */
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4d84e2 , #04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}
.signin-signup{
    width: 50%;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}
.signin-signup form{
    overflow: hidden;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}
.signin-signup form.sign-in-form{
    z-index: 2;
}
.signin-signup form.sign-up-form{
    z-index: 1;
    opacity: 0;
}
.signin-signup .input-feild{
    grid-template-columns: 15% 85%;
    
}
.signin-signup .input-feild input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.signin-signup .btn{
    width: 150px;
    height: 49px;
    transition:  .5s;
}
.signin-signup .social-icon{
    color: #333;
    align-items: center;
    font-size: 1.1rem;
    transition: 0.3s;
}
.signin-signup .social-icon:hover{
    color: #5994fd;
    border-color: #5994fd;
}

.login-panels-container .panel{
    z-index: 7;
}
.login-panels-container .panel .content{
    transition: .9s .6s ease-in-out;
}

.login-panels-container .left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}
.login-panels-container .right-panel{
    pointer-events: none;
    padding: 3rem 17% 2rem 12%;
}
.login-panels-container .image{
    width: 75%;
    transition: 1.1s .4s ease-in-out;
}
.login-panels-container .right-panel .content, .login-panels-container .right-panel .image{
    transform: translateX(800px);
}

/* annimation */
.login-container.sign-up-mode::before{
    transform: translate(100%,-50%);
    right: 52%;
}
.login-container.sign-up-mode .left-panel .image,
.login-container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}
.login-container.sign-up-mode .right-panel .content,
.login-container.sign-up-mode .right-panel .image{
    transform: translateX(0px);
}
.login-container.sign-up-mode .left-panel{
    pointer-events: none;
}
.login-container.sign-up-mode .right-panel{
    pointer-events: all;
}
.login-container.sign-up-mode .signin-signup{
    left: 25%;
}
.login-container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}
.login-container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

@media (max-width: 870px){
    .login-container{
        min-height: 800px;
        height: 100vh;
    }
    .login-container::before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 60%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .signin-signup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%,-100%);
        transition: 1s 0.8s ease-in-out;
    }
    .panels-container{
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }
    .panel .content{
        padding-right:15% ;
        transition: 0.9s 0.8s ease-in-out;
    }
    .panel h3{
        font-size:1.2rem ;
    }
    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .login-panels-container .image{
        width: 0px;
        transition: 0.9s 0.6s ease-in-out;
    }
    .left-panel{
        flex-direction: row;
        grid-row: 1 / 2;
    }
    .right-panel{
        grid-row: 3 / 4;
    }
    .login-panels-container .right-panel .content, .login-panels-container .right-panel .image{
        transform: translateY(300px);
    }
    .login-container.sign-up-mode::before{
        transform: translate(-50%,100%);
        bottom: 32%;
        right: initial;
    }
    .login-container.sign-up-mode .left-panel .image,
    .login-container.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }
    .login-container.sign-up-mode .signin-signup{
        top: 5%;
        transform: translate(-50%,0);
        left: 50%;
    }
}
@media (max-width: 570){
    form{
        padding: 0 1.5rem;
    }
    .login-panels-container .image{
        display: none;
    }
    .login-panels-container .panel .content{
        padding: 0.5rem 1rem;
    }
    .login-container::before{
        bottom: 72%;
        left: 50%;
    }
    .login-container.sign-up-mode::before{
        bottom: 28%;
        left: 50%;
    }
}
