.RightSide {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
}

.heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.money{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}