@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-gradient: linear-gradient(-90deg,
      #00B4D8 0%,
      #90E0EF 50%,
      #CAF0F8 100%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

}

* {
  scroll-behavior: smooth;
  font-family: "Poppins" , sans-serif;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #5f6666 42.04%,
      #b180c5 55.12%,
      #9e4cb3 71.54%,
      #d512db 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #03045E;
  background-clip: text;
  text-fill-color: var(--blue-gradient);
}

.bg-blue-gradient {
  background: linear-gradient(135deg,
       #def9fa 0.89%,
      #bef3f5 17.23%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #dddce2 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #353537 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(235, 229, 229, 0) -341.94%,
      #e6e5e8 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--blue-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--blue-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.green__gradient {
  background: linear-gradient(90deg, #c4f4dd 0%, #67fccf 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255, 255, 255 / var(--tw-bg-opacity));
}

.text-darkblue {
  --tw-text-opacity: 1;
  color: rgba(3, 4, 94, var(--tw-text-opacity));
}